﻿/* Global */
@charset "utf-8";

* {
	margin:0;
    padding:0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
	
a:focus {
	outline: 0;
}

input:focus {
	outline: none;
}

input,button,select,textarea {
	outline:none;
}

textarea {
	resize:none;
}

img {
	border:none;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
	display: block;
}

ul, li{
	list-style:none;
	margin:0;
	padding:0;
}

p {
	margin:0;
    padding:0;
}

html {
	width: 100%;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body{
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	-webkit-user-select: none;
	background: #202432;
}

@media screen and (min-width:1080px) {
body{
	width: 1080px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	-webkit-user-select: none;
	background: #202432;
}
}

/* index */
#wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-image: -webkit-radial-gradient(top, circle cover, rgb(16,58,97) 0%, rgb(32,36,50) 50%);
	background-image: -moz-radial-gradient(top, circle cover, rgb(16,58,97) 0%, rgb(32,36,50) 50%);
	background-image: -o-radial-gradient(top, circle cover, rgb(16,58,97) 0%, rgb(32,36,50) 50%);
	background-image: radial-gradient(top, circle cover, rgb(16,58,97) 0%, rgb(32,36,50) 50%);
	z-index: 1;
}

#share_icon {
	position: absolute;
	background: url(../images/share.png) center center no-repeat;
	background-size: contain;
}

#logo {
	margin: 0 auto;
	background: center center no-repeat;
	background-size: contain;
}

#loading_logo {
	margin: 0 auto;
	background: url(../images/big_logo@2x.png) center center no-repeat;
	background-size: contain;
}

#name1 {
	width: 100%;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}

#name2 {
	width: 100%;
	color: #FFF;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.btn {
	margin: 0 auto;
	color: #8898ba;
	text-align: center;
	border: 1px #39a2d4 solid;
}

#content {
	position: relative;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 2;
}

#btn1 {
	position: absolute;
	z-index: 3;
}

.frame {
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 0px 1px #4c515d;
	-moz-box-shadow: inset 0px 0px 0px 1px #4c515d;
	-o-box-shadow: inset 0px 0px 0px 1px #4c515d;
	box-shadow: inset 0px 0px 0px 1px #4c515d;
	background: center center no-repeat;
	background-size: 100% 100%;
	float: left;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	overflow: hidden;
	display: none;
}

.zoom {
	position: absolute;
	bottom: 3%;
	right: 3%;
	background: url(../images/zoom.png) center center no-repeat;
	background-size: contain;
}

.right {
	float: right;
}

#content:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

footer {
	width: 100%;
	background: -moz-linear-gradient(top,rgba(63, 119, 203, 0),rgba(63, 119, 203, 0.17));
	background: -webkit-gradient(linear,center top,center bottom,from(rgba(63, 119, 203, 0)),to(rgba(63, 119, 203, 0.17)));
	background: -webkit-linear-gradient(top,rgba(63, 119, 203, 0),rgba(63, 119, 203, 0.17));
	background: -o-linear-gradient(top,rgba(63, 119, 203, 0),rgba(63, 119, 203, 0.17));
}

#copy_right {
	margin: 0 auto;
	color: #8898ba;
	text-align: center;
}

/* Style */

.style1 {
	position: relative;
	width: 100%;
	color: #FFF;
	width: 6em;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.style11 {
	position: relative;
	width: 100%;
	color: #FFF;
	text-align: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
}

.style2 {
	color: #FFF;
}

.style3 {
	position: absolute;
	width: 100%;
	color: #FFF;
	text-align: center;
}

.style4 {
	width: 100%;
	color: #FFF;
	text-align: center;
}

.style5 {
	width: 100%;
	color: #FFF;
	text-align: center;
}

.style6 {
	width: 90%;
    color: #adc1eb;
    margin: 0 auto;
}

.style7 {
	width: 90%;
    color: #adc1eb;
    margin: 0 auto;
    text-indent: 2em;
}

/* Special */

#image_cover {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #000;
	z-index: 999;
	display: none;
}

#close_btn {
	position: absolute;
	width: 8%;
	height: 8%;
	background: url(../images/close.png) center center no-repeat;
	background-size: contain;
	z-index: 9999;
}

#loading_page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #202432;
	z-index: 9999;
}

#wave1 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-image: url(../images/wave1.png);
	animation: wave-animation 12s infinite linear;
	-moz-animation: wave-animation 12s infinite linear;
	-webkit-animation: wave-animation 12s infinite linear;
	background-size: 20% auto;
  	background-repeat: repeat-x;
	z-index: 8;
}

#wave2 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-image: url(../images/wave2.png);
	animation: wave-animation 3s infinite linear;
	-moz-animation: wave-animation 3s infinite linear;
	-webkit-animation: wave-animation 3s infinite linear;
	background-size: 25% auto;
  	background-repeat: repeat-x;
	z-index: 7;
}


#loading_font {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #FFF;
	z-index: 11;
}

#photo {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photo_img {
	width: 100%;
	height: 100%;
	background: center center no-repeat;
	background-size: contain;
}

.slick-dots {
	position: absolute;
	bottom: 25px;
	left: 0px;
    width: 100%;
	height: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
	z-index: 9999;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: url(../images/dot.png) center center no-repeat;
	background-size: contain;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li.slick-active button {
    background: url(../images/dot_1.png) center center no-repeat;
	background-size: contain;
}

.s_right {
	transform: perspective(1000px) rotateY(90deg);
	transform-origin: 0% 50%;
	-webkit-transform: perspective(1000px) rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	-moz-transform: perspective(1000px) rotateY(90deg);
	-moz-transform-origin: 0% 50%;
}

.s_left {
	transform: perspective(1000px) rotateY(-90deg);
	transform-origin: 100% 50%;
	-webkit-transform: perspective(1000px) rotateY(-90deg);
	-webkit-transform-origin: 100% 50%;
	-moz-transform: perspective(1000px) rotateY(-90deg);
	-moz-transform-origin: 100% 50%;
}

.s_up {
	transform: perspective(1000px) rotateX(-90deg);
	transform-origin: 50% 0%;
	-webkit-transform: perspective(1000px) rotateX(-90deg);
	-webkit-transform-origin: 50% 0%;
	-moz-transform: perspective(1000px) rotateX(-90deg);
	-moz-transform-origin: 50% 0%;
}

.r_up {
	animation: up 400ms ease;
	animation-fill-mode: forwards;
    -moz-animation: up 400ms ease; /* Firefox */
	-moz-animation-fill-mode: forwards;
    -webkit-animation: up 400ms ease; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.r_right {
	animation: right 400ms ease;
	animation-fill-mode: forwards;
    -moz-animation: right 400ms ease; /* Firefox */
	-moz-animation-fill-mode: forwards;
    -webkit-animation: right 400ms ease; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

.r_left {
	animation: left 400ms ease;
	animation-fill-mode: forwards;
    -moz-animation: left 400ms ease; /* Firefox */
	-moz-animation-fill-mode: forwards;
    -webkit-animation: left 400ms ease; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

@keyframes up {
    from {
		transform: perspective(1000px) rotateX(-90deg);
		filter: brightness(0);
	}
    to {
		transform: perspective(1000px) rotateX(0deg);
		filter: brightness(1);
	}
}

@-moz-keyframes up /* Firefox */ {
    from {
		-moz-transform: perspective(1000px) rotateX(-90deg);
		filter: brightness(0);
	}
    to {
		-moz-transform: perspective(1000px) rotateX(0deg);
		filter: brightness(1);
	}
}

@-webkit-keyframes up /* Safari and Chrome */ {
    from {
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		filter: brightness(0);
	}
    to {
		-webkit-transform: perspective(1000px) rotateX(0deg);
		filter: brightness(1);
	}
}

@keyframes right {
    from {
		transform: perspective(1000px) rotateY(90deg);
		filter: brightness(0);
	}
    to {
		transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@-moz-keyframes right /* Firefox */ {
    from {
		-moz-transform: perspective(1000px) rotateY(90deg);
		filter: brightness(0);
	}
    to {
		-moz-transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@-webkit-keyframes right /* Safari and Chrome */ {
    from {
		-webkit-transform: perspective(1000px) rotateY(90deg);
		filter: brightness(0);
	}
    to {
		-webkit-transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@keyframes left {
    from {
		transform: perspective(1000px) rotateY(-90deg);
		filter: brightness(0);
	}
    to {
		transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@-moz-keyframes left /* Firefox */ {
    from {
		-moz-transform: perspective(1000px) rotateY(-90deg);
		filter: brightness(0);
	}
    to {
		-moz-transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@-webkit-keyframes left /* Safari and Chrome */ {
    from {
		-webkit-transform: perspective(1000px) rotateY(-90deg);
		filter: brightness(0);
	}
    to {
		-webkit-transform: perspective(1000px) rotateY(0deg);
		filter: brightness(1);
	}
}

@keyframes wave-animation {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 100% 0%;
	}
}

@-moz-keyframes wave-animation {
	from {
		background-position:0% 0%;
	}
	to {
		background-position: 100% 0%;
	}
}

@-webkit-keyframes wave-animation {
	from {
		background-position:0% 0%;
	}
	to {
		background-position: 100% 0%;
	}
}
