﻿<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/slick.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mobile-events.min.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/slick.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
window.addEventListener('load', function(){
	FastClick.attach(document.body);
 }, false);
</script>
<title>{{nickname}}的航行日志</title>
</head>
<body>
	<div id="loading_page">
    	<header>
        	<div id="loading_logo"></div>
            <p id="name1">嗨&nbsp;帆</p>
            <p id="name2">hifan.co</p>
        </header>
        <p id="loading_font">载入中&nbsp;<span id="percent">0</span>%</p>
        <div id="wave1"></div>
        <div id="wave2"></div>
    </div>
	<div id="image_cover">
    	<div id="close_btn"></div>
    	<div id="photo"></div>
    </div>
	<div id="wrapper"></div>
<script type="text/javascript">
 $(document).ready(function() {
	 wx.config({
	   debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	   appId: '{{app_id}}', // 必填，公众号的唯一标识
	   timestamp: {{timestamp}}, // 必填，生成签名的时间戳
	   nonceStr: '{{noncestr}}', // 必填，生成签名的随机串
	   signature: '{{signature}}',// 必填，签名，见附录1
	   jsApiList: ['checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView'
		] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	
	wx.ready(function(){
		wx.showMenuItems({
			menuList: [
				'menuItem:profile',
				'menuItem:addContact',
				'menuItem:share:weiboApp',
        		'menuItem:share:QZone'
			]
		});
		wx.hideMenuItems({
			menuList: [
				'menuItem:exposeArticle',
				'menuItem:setFont',
				'menuItem:readMode',
				'menuItem:openWithSafari',
				'menuItem:share:email'
			]
		});
		wx.onMenuShareTimeline({
			title: '{{nickname}}的帆船航行日记', // 分享标题
			link: '', // 分享链接
			imgUrl: 'http://121.43.181.150/boat/images/share_icon.png', // 分享图标
			success: function () { 
				
			},
			cancel: function () { 
				
			}
		});
    	wx.onMenuShareAppMessage({
			title: '{{nickname}}的帆船航行日记', // 分享标题
			desc: '我做上了嗨帆的水手驾驶帆船了，快来看看！', // 分享描述
			link: '', // 分享链接
			imgUrl: 'http://121.43.181.150/boat/images/share_icon_t.png', // 分享图标
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () { 
				
			},
			cancel: function () { 
				
			}
		});
		wx.onMenuShareQQ({
			title: '{{nickname}}的帆船航行日记', // 分享标题
			desc: '我做上了嗨帆的水手驾驶帆船了，快来看看！', // 分享描述
			link: '', // 分享链接
			imgUrl: 'http://121.43.181.150/boat/images/share_icon_t.png', // 分享图标
			success: function () { 
			   
			},
			cancel: function () { 
			   
			}
		});
		wx.onMenuShareWeibo({
			title: '{{nickname}}的帆船航行日记', // 分享标题
			desc: '我做上了嗨帆的水手驾驶帆船了，快来看看！', // 分享描述
			link: '', // 分享链接
			imgUrl: 'http://121.43.181.150/boat/images/share_icon_t.png', // 分享图标
			success: function () { 
			   
			},
			cancel: function () { 
				
			}
		});
		wx.onMenuShareQZone({
			title: '{{nickname}}的帆船航行日记', // 分享标题
			desc: '我做上了嗨帆的水手驾驶帆船了，快来看看！', // 分享描述
			link: '', // 分享链接
			imgUrl: 'http://121.43.181.150/boat/images/share_icon_t.png', // 分享图标
			success: function () { 
			   
			},
			cancel: function () { 
				
			}
		});
	});
	 
	 
   function replace_items(origin_items, replace_items) {
	 items = [];
	 for (var i = 0; i < origin_items.length; i++) {
	   item = replace_items.shift();
	   if (item != undefined) {
		 items.push(item);
		} else {
		  items.push(origin_items[i]);
		}
	 }
	 return items;
   }
		
		var images = [
				'/images/big_logo@2x.png',
				'{{headimgurl}}',
				'{{boat_pic}}',
				'/images/pic_blueprint@2x.png',
				'{{dock_pic}}'].concat(replace_items(
				  [
				'/images/pic_user_1@2x.jpg',
				'/images/pic_user_2@2x.jpg',
				'/images/pic_user_3@2x.jpg',
				'/images/pic_user_4@2x.jpg',
				'/images/pic_user_5@2x.jpg',
				'/images/pic_user_6@2x.jpg',
				'/images/pic_user_7@2x.jpg',
				'/images/pic_user_8@2x.jpg',
				'/images/pic_user_9@2x.jpg'
			], {{squares}}));

   var photo = [
	 '{{boat_pic}}',	 
   ].concat(replace_items(
	 [
	 '/images/1.JPG',
	 '/images/pic_user_2@2x.jpg',
	 '/images/pic_user_3@2x.jpg',
	 '/images/pic_user_4@2x.jpg',
	 '/images/pic_user_5@2x.jpg',
	 '/images/pic_user_6@2x.jpg',
	 '/images/pic_user_7@2x.jpg',
	 '/images/pic_user_8@2x.jpg',
	 '/images/pic_user_9@2x.jpg'
	 ], {{origins}}));
   
		var color = [
				'#043675',
				'#234269',
				'#12498d',
				'#053776',
				'#174988',
				'#053b81',
				'#163154',
				'#163154',
				'#053979',
				'#1a4885',
				'#163154',
				'#053979'
			];
		
		var preload_img = images.concat(photo);
		
		function preload(items) {
			var errors = new Array();
			var current = 0;
			for (var i = 0; i < items.length; i++) {
				var imgLoad = new Image();
				$(imgLoad)
					.load(function() {
						current++;
						var per = Math.round((current / items.length) * 100);
						
						if(current >= items.length) {
							current = items.length;
							
							$('#percent').empty().append('100');
							init();
							$('#loading_page').hide(0, start());
						}else {
							$('#percent').empty().append(per);
						}
					})
					.error(function() {
						errors.push($(this).attr('src'));
						current++;
						var per = Math.round((current / items.length) * 100);
						
						if(current >= items.length) {
							current = items.length;
							
							$('#percent').empty().append('100');
							init();
							$('#loading_page').hide(0, start());
						}else {
							$('#percent').empty().append(per);
						}
					})
					.attr('src', items[i]);
					
			}
		}
		
		function init() {
			var html = '<header><div id="share_icon"></div><div id="logo"></div></header><div id="btn1" class="btn">报名做水手</div><div id="content"><div class="frame single"></div><div class="frame double"><p class="style1">水手{{nickname}}</p><p class="style2">{{message|e}}</p></div><div class="frame single"></div><div class="frame single" data-img="0"></div><div class="frame single"><p class="style2">{{date.month}}月{{date.day}}日<br>{{weather}}</p></div><div class="frame quad" data-img="1"></div><div class="frame single"></div><div class="frame vertical_d right"><p class="style3">{{boat_desc}}</p></div><div class="frame single"><p class="style11" id="boat_name">{{boat_name}}</p><p class="style2" style="text-align: center">船长{{captain}}</p></div><div class="frame single"></div><div class="frame quad" data-img="2"></div><div class="frame single" data-img="3"></div><div class="frame single"></div><div class="frame single" style="clear: both"><p class="style4">{{longitude}}<br>{{latitude}}</p><p class="style3">{{dock_desc}}</p></div><div class="frame single"></div><div class="frame single" data-img="4"></div><div class="frame single" data-img="5"></div><div class="frame quad right"></div><div class="frame single"></div><div class="frame single" data-img="6" style="clear: both"></div><div class="frame single"></div><div class="frame single" data-img="7"></div><div class="frame single" data-img="8"></div><div class="frame single" data-img="9"></div><div class="frame single" data-img="0"><p class="style5">查看所有<br>9张照片</p></div></div><div class="style6">关于嗨帆</div><div class="style7">嗨帆是国内帆船和其他水上运动的引领推动者，利用互联共享经济的方式以大众化的价格让用户享受帆船、游艇等高端水上运动的乐趣！</div><div class="style7">请点击以下按钮关注嗨帆微信公众号，我们会指引您以最低199元的价格开启水手生活！</div><div id="btn2" class="btn">关注嗨帆公众号</div><footer><p id="copy_right">Hifan.co 2015</p></footer>';
			$('#wrapper').append(html);
			
			$('#logo').css({ "background-image" : "url("+images[0]+")" });
			
			var select = document.getElementById('content');
			select.children[0].style.backgroundImage = "url('"+images[1]+"')";
			select.children[3].style.backgroundImage = "url('"+images[2]+"')";
			select.children[5].style.backgroundImage = "url('"+images[5]+"')";
			select.children[7].style.backgroundImage = "url('"+images[3]+"')";
			select.children[10].style.backgroundImage = "url('"+images[6]+"')";
			select.children[11].style.backgroundImage = "url('"+images[7]+"')";
			select.children[15].style.backgroundImage = "url('"+images[8]+"')";
			select.children[16].style.backgroundImage = "url('"+images[9]+"')";
			select.children[17].style.backgroundImage = "url('"+images[4]+"')";
			select.children[19].style.backgroundImage = "url('"+images[10]+"')";
			select.children[21].style.backgroundImage = "url('"+images[11]+"')";
			select.children[22].style.backgroundImage = "url('"+images[12]+"')";
			select.children[23].style.backgroundImage = "url('"+images[13]+"')";
			
			select.children[1].style.backgroundColor = color[0];
			select.children[2].style.backgroundColor = color[1];
			select.children[4].style.backgroundColor = color[2];
			select.children[6].style.backgroundColor = color[3];
			select.children[8].style.backgroundColor = color[4];
			select.children[9].style.backgroundColor = color[5];
			select.children[12].style.backgroundColor = color[6];
			select.children[13].style.backgroundColor = color[7];
			select.children[14].style.backgroundColor = color[8];
			select.children[18].style.backgroundColor = color[9];
			select.children[20].style.backgroundColor = color[10];
			select.children[24].style.backgroundColor = color[11];
			
			$.each($('.frame'), function(i, item) {
				if ($(this).data('img') !== undefined) {
					$(this).append('<div class="zoom"></div>');
				}
			});
			
			for (var i=0; i<photo.length; i++) {
				$('#photo').append('<div class="photo_img" style="background-image: url('+photo[i]+')"></div>')
			}
			
			$('#content .frame:nth-child(2) , #content .frame:nth-child(5) , #content .frame:nth-child(12) , #content .frame:nth-child(16) , #content .frame:nth-child(25)').addClass('s_right');
			
			$('#content .frame:nth-child(4) , #content .frame:nth-child(6) , #content .frame:nth-child(7) , #content .frame:nth-child(8) , #content .frame:nth-child(11) , #content .frame:nth-child(13) , #content .frame:nth-child(15) , #content .frame:nth-child(18) , #content .frame:nth-child(19) , #content .frame:nth-child(20) , #content .frame:nth-child(22) , #content .frame:nth-child(24)').addClass('s_up');
			
			$('#content .frame:nth-child(3) , #content .frame:nth-child(9)  , #content .frame:nth-child(10) , #content .frame:nth-child(14) , #content .frame:nth-child(17) , #content .frame:nth-child(21) , #content .frame:nth-child(23)').addClass('s_left');
			
			$('#content .frame:nth-child(1)').show();
			
			$('#photo').slick({
				arrows: false,
				dots: true,
				infinite: true,
				pauseOnHover: false,
				pauseOnDotsHover: false,
				speed: 200,
				fade: false,
				mobileFirst: true,
				cssEase: 'linear'
			});
			
			box_size($('#wrapper').width());
		}
		
		function start() {
			$('#content .frame:nth-child(2)').show().addClass('r_right');
			$('#content .frame:nth-child(2)').on("animationend webkitAnimationEnd", function(){
				$('#content .frame:nth-child(2)').off("animationend webkitAnimationEnd");
				$('#content .frame:nth-child(3) , #content .frame:nth-child(4) , #content .frame:nth-child(5)').show();
				$('#content .frame:nth-child(4)').addClass('r_up');
				$('#content .frame:nth-child(4)').on("animationend webkitAnimationEnd", function(){
					$('#content .frame:nth-child(4)').off("animationend webkitAnimationEnd");
					$('#content .frame:nth-child(3)').addClass('r_left');
					$('#content .frame:nth-child(5)').addClass('r_right');
					$('#content .frame:nth-child(5)').on("animationend webkitAnimationEnd", function(){
						$('#content .frame:nth-child(5)').off("animationend webkitAnimationEnd");
						$('#content .frame:nth-child(6) , #content .frame:nth-child(7) , #content .frame:nth-child(8) , #content .frame:nth-child(9), #content .frame:nth-child(10)').show();
						$('#content .frame:nth-child(6)').addClass('r_up');
						$('#content .frame:nth-child(7)').addClass('r_up');
						$('#content .frame:nth-child(7)').on("animationend webkitAnimationEnd", function(){
							$('#content .frame:nth-child(7)').off("animationend webkitAnimationEnd");
							$('#content .frame:nth-child(8)').addClass('r_up');
							$('#content .frame:nth-child(8)').on("animationend webkitAnimationEnd", function(){
								$('#content .frame:nth-child(8)').off("animationend webkitAnimationEnd");
								$('#content .frame:nth-child(10)').addClass('r_left');
								$('#content .frame:nth-child(10)').on("animationend webkitAnimationEnd", function(){
									$('#content .frame:nth-child(10)').off("animationend webkitAnimationEnd");
									$('#content .frame:nth-child(9)').addClass('r_left');
								});
							});
						});
					});
				});
			});
			
			$(window).scroll(function () {
				var h = $('#wrapper').width();
				if($('#content').height() <= (h*1.66666666666667)) {
					if($(window).scrollTop() > ($('#content').outerHeight(true)-($(window).height()*0.85))) {
						$('#content .frame:nth-child(11) , #content .frame:nth-child(12) , #content .frame:nth-child(13)').show();
						$('#content .frame:nth-child(11)').addClass('r_up');
						$('#content .frame:nth-child(11)').on("animationend webkitAnimationEnd", function(){
							$('#content .frame:nth-child(11)').off("animationend webkitAnimationEnd");
							$('#content .frame:nth-child(12)').addClass('r_right');
							$('#content .frame:nth-child(12)').on("animationend webkitAnimationEnd", function(){
								$('#content .frame:nth-child(12)').off("animationend webkitAnimationEnd");
								$('#content .frame:nth-child(14) , #content .frame:nth-child(15) , #content .frame:nth-child(16)').show();
								$('#content .frame:nth-child(15)').addClass('r_up');
								$('#content .frame:nth-child(15)').on("animationend webkitAnimationEnd", function(){
									$('#content .frame:nth-child(15)').off("animationend webkitAnimationEnd");
									$('#content .frame:nth-child(13)').addClass('r_up');
									$('#content .frame:nth-child(14)').addClass('r_left');
									$('#content .frame:nth-child(16)').addClass('r_right');
								});
							});
						});
						
					}
				}else if($('#content').height() <= (h*2.66666666666667)) {
					if($(window).scrollTop() > ($('#content').outerHeight(true)-($(window).height()*0.85))) {
						$('#content .frame:nth-child(17) , #content .frame:nth-child(18) , #content .frame:nth-child(19) , #content .frame:nth-child(20) , #content .frame:nth-child(21) , #content .frame:nth-child(22)').show();
						$('#content .frame:nth-child(18)').addClass('r_up');
						$('#content .frame:nth-child(18)').on("animationend webkitAnimationEnd", function(){
							$('#content .frame:nth-child(18)').off("animationend webkitAnimationEnd");
							$('#content .frame:nth-child(17)').addClass('r_left');
							$('#content .frame:nth-child(22)').addClass('r_up');
							$('#content .frame:nth-child(17)').on("animationend webkitAnimationEnd", function(){
								$('#content .frame:nth-child(17)').off("animationend webkitAnimationEnd");
								$('#content .frame:nth-child(19)').addClass('r_up');
								$('#content .frame:nth-child(21)').addClass('r_left');
								$('#content .frame:nth-child(19)').on("animationend webkitAnimationEnd", function(){
									$('#content .frame:nth-child(19)').off("animationend webkitAnimationEnd");
									$('#content .frame:nth-child(23) , #content .frame:nth-child(24) , #content .frame:nth-child(25)').show();
									$('#content .frame:nth-child(20) , #content .frame:nth-child(24)').addClass('r_up');
									$('#content .frame:nth-child(24)').on("animationend webkitAnimationEnd", function(){
										$('#content .frame:nth-child(24)').off("animationend webkitAnimationEnd");
										$('#content .frame:nth-child(23)').addClass('r_left');
										$('#content .frame:nth-child(25)').addClass('r_right');
									});
								});
							});
						});
					}
				}
			});
			
			$('.frame').on('tap',function(){
				if ($(this).data('img') !== undefined) {
					var index = $(this).data('img');
					$('#photo').slick('slickGoTo',index);
					$('#image_cover').show();
					box_size($('#wrapper').width());
				}
			});
			
			$('#image_cover').on('tap',function(){
				$('#image_cover').hide();
			});
			
			$('#photo').on('tap',function(){
				$('#image_cover').hide();
			});
			
			$('#btn1').on('tap',function(){
				$('.frame').removeClass('s_left s_right s_up').show();
				$('html, body').animate({ scrollTop: $('#wrapper').height()-$(window).height() }, 800);
			});
			
		}
		
		function box_size(tag) {
			var h = tag;
			var scale = h / 1080.0;
			
			$('header').height(h*0.72962962962963);
			$('#share_icon').css({
				top: h*0.01574074074074+'px',
				right: h*0.05925925925926+'px',
				width: h*0.24814814814815+'px',
				height: h*0.12222222222222+'px'
			});
			$('#logo , #loading_logo').css({
				marginTop: h*0.00925925925926+'px',
				width: h*0.4+'px',
				height: h*0.4+'px'
			});
			$('#btn1').css({
				top: h*0.41666666666667+'px',
				left: h*0.34722222222222+'px',
				width: h*0.30555555555556+'px',
				fontSize: 48*scale+'px',
				lineHeight: 80*scale+'px',
				'-webkit-border-radius': h*0.03703703703704+'px',
				'-moz-border-radius': h*0.03703703703704+'px',
				'border-radius': h*0.03703703703704+'px'
			});
			$('#btn2').css({
				marginTop: h*0.10185185185185+'px',
				marginBottom: h*0.06481481481481+'px',
				width: h*0.48888888888889+'px',
				fontSize: 48*scale+'px',
				lineHeight: 126*scale+'px',
				'-webkit-border-radius': h*0.05833333333334+'px',
				'-moz-border-radius': h*0.05833333333334+'px',
				'border-radius': h*0.05833333333334+'px'
			});
			$('footer').height(h*0.3);
			$('#content').css({
				paddingTop: h*0.55555555555556+'px'
			});
			$('.single').css({
				width: h*0.33333333333333+'px',
				height: h*0.33333333333333+'px'
			});
			$('.double').css({
				width: h*0.66666666666667+'px',
				height: h*0.33333333333333+'px'
			});
			$('.quad').css({
				width: h*0.66666666666667+'px',
				height: h*0.66666666666667+'px'
			});
			$('.vertical_d').css({
				width: h*0.33333333333333+'px',
				height: h*0.66666666666667+'px'
			});
			$('#copy_right').css({
				paddingTop: h*0.16203703703704+'px',
				fontSize: 48*scale+'px',
				lineHeight: 48*scale+'px'
			});
			$('.style1 , .style11').css({
				fontSize: 108*scale+'px',
				lineHeight: 108*scale+'px'
			});
			$('.style2').css({
				marginTop: h*0.026+'px',
				marginLeft: h*0.02407407407407+'px',
				marginRight: h*0.033+'px',
				fontSize: 43*scale+'px',
				lineHeight: 56*scale+'px'
			});
			$('.style3').css({
				bottom: h*0.02777777777778+'px',
				fontSize: 43*scale+'px',
				lineHeight: 56*scale+'px'
			});
			$('.style4').css({
				paddingTop: h*0.045+'px',
				fontSize: 43*scale+'px',
				lineHeight: 52*scale+'px'
			});
			$('.style5').css({
				paddingTop: h*0.11851851851852+'px',
				fontSize: 43*scale+'px',
				lineHeight: 50*scale+'px'
			});
			$('.style6').css({
				paddingTop: h*0.06481481481481+'px',
				fontSize: 48*scale+'px',
				lineHeight: 48*scale+'px'
			});
			$('.style7').css({
				paddingTop: h*0.03703703703704+'px',
				fontSize: 40*scale+'px',
				lineHeight: 50*scale+'px'
			});
			$('#image_cover, #loading_page').height($(window).height());
			$('#name1').css({
				fontSize: 90*scale+'px',
				lineHeight: 130*scale+'px'
			});
			$('#name2').css({
				fontSize: 50*scale+'px',
				lineHeight: 60*scale+'px'
			});
			$('#wave1').height($(window).height()*0.08);
			$('#wave2').height($(window).height()*0.08-h*0.045);
			$('#loading_font').css({
				bottom:  $(window).height()*0.1+'px',
				fontSize: 50*scale+'px',
				lineHeight: 50*scale+'px'
			});
			$('#close_btn').css({
				top: h*0.02+'px',
				right: h*0.02+'px'
			});
			$('.zoom').css({
				width: h*0.05+'px',
				height: h*0.05+'px'
			});
		};
	
		$(window).resize(function() {
       		box_size($('#wrapper').width());
    	});
		
		
		preload(preload_img);
		box_size($('#loading_page').width());
		
	})
</script>
</body>
</html>
