﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>预定</title>
<meta charset="utf-8">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="pragram" content="no-cache">
<meta name="viewport" content="width=640; user-scalable=no; target-densitydpi=device-dpi" />
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
* {
	margin:0;
    padding:0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
	
a:focus {
	outline: 0;
}

input:focus {
	outline: none;
}

input,button,select,textarea {
	outline:none;
}

textarea {
	resize:none;
}

img {
	border:none;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
	display: block;
}

ul, li{
	list-style:none;
	margin:0;
	padding:0;
}

p {
	margin:0;
    padding:0;
}

html {
	width: 100%;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	-webkit-user-select: none;
}

.line {
	position: relative;
	width: 90%;
	height: 80px;
	margin: 0 auto 20px auto;
	overflow: hidden;
}

.line1 {
	position: relative;
	width: 90%;
	margin: 0 auto 20px auto;
	overflow: visible;
}

.style1 {
	width: 8%;
	font-size: 40px;
	line-height: 80px;
	margin-right: 2%;
	float: left;
}

.frame {
	width: 90%;
	height: 79px;
	overflow: hidden;
	background: url(/images/arraw.jpg) center right no-repeat;
	border-bottom: #a7a7a7 1px solid;
	float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field {
	width: 105%;
	height: 80px;
	padding: 0 4%;
	font-size: 32px;
	line-height: 80px;
	color: #c3c3c3;
	background: transparent;
    border: none;
	resize: none;
	-webkit-appearance: none;
	overflow: hidden;
	text-align: center;
}

#comment {
	width: 90%;
	height: 165px;
	font-size: 32px;
	line-height: 46px;
	padding: 12px 3%;
	background: transparent;
    border: #a7a7a7 solid 1px;
	resize: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	text-align: left;
	color: #000;
}

#comment::-webkit-input-placeholder{
	color: #c3c3c3;
	text-align: left;
}

#comment::-moz-input-placeholder{
	color: #c3c3c3;
	text-align: left;
}

#comment:-moz-input-placeholder{
	color: #c3c3c3;
	text-align: left;
}

.style2 {
	width: 90%;
	margin: 0 auto;
	font-size: 32px;
	line-height: 46px;
	color: #000;
	padding-bottom: 25px;
	text-align: left;
	display: none;
}

#detail {
	width: 100%;
	height: auto;
	margin: 0 auto 20px auto;
	display: none;
}

#btn {
	width: 70%;
	height: 65px;
	font-size: 32px;
	line-height: 64px;
	background-color: #119bf2;
	color: #FFF;
	margin: 35px auto;
	text-align: center;
	display: none;
}

</style>
</head>
<body>
<form id="book" action="" method="post">
	<div class="line" style="margin-top: 20px;">
        <i class="fa style1">&#xf073;</i>
        <div class="frame">
        	<select required class="field" id="date" name="date"></select>
       </div> 
	</div>
    <div class="line">
    	<i class="fa style1">&#xf13d;</i>
        <div class="frame">
        	<select required class="field" id="boat" name="share_id">
            	<option selected="" value="">请先选择活动日期</option>
            </select>
       </div> 
	</div>
    <div class="line1">
    	<i class="fa style1">&#xf044;</i>
        <textarea id="comment" name="comment" maxlength="1000" placeholder=""></textarea>
    </div>
    <input type="hidden" id="token" name="openid" value="{{openid}}">
    <p class="style2">已选择日期为<span id="show_day"></span><span id="show_boat"></span>的出航活动，点下方的“开始上传照片“按钮后，您可以直接向公众号发送照片进行上传分享。</p>
    <p class="style2">分享页面将显示最近上传的9张照片</p>
    <img src="/images/detail.jpg" id="detail">
    <div id="btn">开始上传照片</div>
</form>
</body>
<script>
	
	var list = {{shares}};
	var random_word = ["第一次玩帆船，好天气，帅船长，有趣的同伴，感谢Hifan，以后还会来做水手。",
		"你运气真好随机到了第二段话。",
		"你人品爆棚随机到了第三段话。"
	];
	var p1 = Math.floor((Math.random()*100)+1);
	if ( p1 >= 1 && p1 < 33 ) {
		$('#comment').attr("placeholder", random_word[0]);
	}else if ( p1 >= 33 && p1 < 66 ) {
		$('#comment').attr("placeholder", random_word[1]);
	}else {
		$('#comment').attr("placeholder", random_word[2]);
	}
	
	$('#date').append('<option selected="" value="">请选择活动日期</option>');
	for (var i=0;i < list.length; i++) {
		$('#date').append('<option value="'+list[i].date+'">'+list[i].date+'</option>');
	}
	
	$('#date').on('change', function () {
		var num = $("#date option:selected").index();
		if (num == 0){
			$('#boat').css("color", "#c3c3c3");
			$('#boat').empty().append('<option selected="" value="">请先选择活动日期</option>');
		}else {
			$('#boat').empty().append('<option selected="" value="">请选择船次</option>');
			for (var i=0;i < list[num-1].boat.length; i++) {
				var boat = list[num-1].boat[i];
				$('#boat').append('<option value="'+boat.id+'">'+boat.name+'</option>');
			}
		}
		
	});
	
	$('.field').on('change', function () {
		var val = this.value;
		if (val == "") {
			$(this).css("color", "#c3c3c3");
		}else {
			$(this).css("color", "#000");
			$(this).parent().css({borderBottomColor: '#a7a7a7'});
		}
		if (($('#boat').val() != "") && ($('#date').val() != "")){
			$('#show_day').empty().append($('#date option:selected').text());
			$('#show_boat').empty().append($('#boat option:selected').text());
			$('.style2 , #detail , #btn').show();
		}
	});
	
	$('#btn').on('click', function () {
		if ($('#date').val() == "") {
			$('#date').css({color: '#F00'});
			$('#date').parent().css({borderBottomColor: '#F00'});
			return false;
		}else if ($('#boat').val() == "") {
			$('#boat').css({color: '#F00'});
			$('#boat').parent().css({borderBottomColor: '#F00'});
			return false;
		}
		if ($('#comment').val() == "") {
			$('#comment').val($('#comment').attr('placeholder'));
		}else {
			var msg = $('#comment').val();
			msg = msg.replace(/\n/g,"<br>");
			$('#comment').val(msg);
		}
		var formdata = $('#book').serialize();
		$.ajax({
			 url: '',
			 type: 'POST',
			 dataType: 'html',
			 data: formdata,
			 success: function () {
              	WeixinJSBridge.invoke('closeWindow',{},function(res){});
             }
		});
	});
</script>
</html>
